@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    @model User
    @using (Html.BeginForm("CreateAccount", "Home", FormMethod.Post))
    {
        <div class="form-layout">
            @Html.TextBoxFor(model => model.username)
            @Html.PasswordFor(model => model.password)
            @Html.Password("*")
            <button type="submit">Create Account</button>
        </div>
    }
    @Html.ActionLink("Login", "Login", "Home")

</div>
