@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Quiz Master</h1>
    <div class="home-container">
        @Html.ActionLink("Login","Login","Home")
        @Html.ActionLink("Create Account", "CreateAccount", "Home")
    </div>
    
</div>
