@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    @model User
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <div class="form-layout">
            @Html.TextBoxFor(model => model.username)
            @Html.PasswordFor(model => model.password)
            <button type="submit">Login</button>
        </div>
    }
    @Html.ActionLink("Create Account", "CreateAccount", "Home")

</div>
