@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Quiz Master</h1>
    <div class="home-container">
        @Html.ActionLink("Start", "StartQuiz", "Quiz")
        @Html.ActionLink("View Your Scores", "YourScores", "Quiz")
        @Html.ActionLink("View Global High Scores","HighScores","Quiz")
    </div>

</div>
